.branding-hero {
  background-size: cover;
  background-position: center;
  height: 25vh;
  @include medium {
    height: 40vh;
  }

  &__gradient {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
    padding: 2rem 0;
    height: 100%;
    position: relative;
  }
  &__container {
    @extend .container;
  }
  &__branding {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  &__name {
    margin-left: 2rem;
    p {
      margin-bottom: 0;
    }
  }
}


.clear-left{
  clear:left;
}

.hero-image {
  position: relative;
  height: 50vh;
}

