{#
Hero image that is inserted to every page. This will somehow have variable images. Probably a
  page.preprocess which sets the background image. I'll figure that out later

  @variables:
    site_name: Name of the site
    site_slogan: Slogan.
#}

{% set brand_img = directory ? '/' ~ directory ~ '/images/Y-HS-V2-logo.webp' : 'Y-HS-V2-logo.webp' %}

<div class="branding-hero" style="background-image: url('https://placeimg.com/1200/180/any');">
  <div class="branding-hero__gradient">
  <div class="container">
    <div class="d-flex items-center">
      {% embed "@atoms/links/link/link.twig" %}
        {% block link_content %}
          {% include "@atoms/images/image/responsive-image.twig" with {
            output_image_tag: true,
            image_src: brand_img,
            image_alt: 'Logo',
            responsive_image_blockname: 'logo',
          } %}
        {% endblock %}
      {%  endembed %}
      <div>
          <p class="h1 ms-1 mb-3">
            {{ site_name }}
          </p>
        <div class="hidden d-sm-block">
          {{ site_slogan }}
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
