<div class="pre-header">
  {% block pre_content %}
  <ul>
    <li><a class="button button--small button--alt" href="https://myaccount.rugbyxplorer.com.au/">Register</a></li>
  </ul>
  {% endblock %}
</div>
