html {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  @include body-copy;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.main {
  @include wrapper;
  display: block; /* Fix for IE weirdness */
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}
